<div id="welcome">
  <h2>Welcome to GTPR</h2>
  <p>This tool enables you to view all your Github Issues at a glance. Rather than viewing issues for a specific repository one at a time, you can get a quick overview.</p>
  <%# TODO make sure you figure out auth for ppl who don't have their email%>
  <%# address on GH%>

  <%= render "devise/shared/links" %>
</div>
