// Place all the styles related to the repos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 { margin-bottom: 20px; }
p { margin-bottom: 5px; }
ul#repos li {
  margin-bottom: 13px;
  position: relative;
  border-bottom: 1px solid #B7B7B7;
  padding-bottom: 10px;

  h3 {
    line-height: 29px;
    padding-right: 3px;
  }
  .language {
    font-style: italic;
  }
  p {
    width: 300px;
  }
  .issues-btn {
    text-decoration: underline;
  }
  .icon-share {
    padding-right: 2px;
  }
  ul {
    margin-top: 10px;
    li {
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 0px;
      border-bottom: none;
      border-top: 1px solid #DFDFDF;
    }
  }
}
